@model WebDemoXPlatform.ViewModels.ChainViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Details of @Model.Name</h2>
    <div class="panel panel-default">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Version)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Version)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Balance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>

        </dl>
    </div>
</div>
<div>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
