@model IEnumerable<WebDemoXPlatform.ViewModels.StreamsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stream</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Open)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscribed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synchronised)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscribed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synchronised)
            </td>
            <td>
                @Html.ActionLink("Details", "StreamItems", new { id = item.Chain, stream = item.Name }) |
                @Html.ActionLink("Add", "Create", item.Name)
            </td>
        </tr>
    }

</table>
