@model IEnumerable<Models.ListStreamsItems.Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockTime)
        </td>
        <td>
            @Html.ActionLink("Desearlise", "Details", new { id=item.Key })
        </td>
    </tr>
}

</table>
