@model IEnumerable<Models.DTOs.Access>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublishingEntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumingEntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateKey)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingEntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumingEntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateKey)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
